server:
  port: 9000
spring:
  application:
    name: "cards" #deve coincidere col nome data al microservice nel config serer
  profiles:
    active: "prod"
  datasource:
    url: jdbc:mysql://localhost:3308/cardsdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always
  config:
    import: "optional:configserver:http://localhost:8071/"   #indica che le configurazione di accounts microservice sono recuperabili dal config server  all'url specificato(in questo caso "configserver" è una parola standard da non confondere col nome che abbiamo dato al progetto Spring Cloud Server), "optional:" indica che se non riesce a trovare il config server non lancia un eccezione ma continua comunque con le configurazioni locali, si usa se il mancato recupero delle proprietà non inficia completamente il funzinamento del sistema.

management: #abilita la gestione delle APIs di Actuator
  endpoints:
    web:
      exposure:
        include: "*" #qui si dovrebbe l'endpoint di Actuaor che si vuole esporre, in questo caso "*" indica che tutti gli endpoint sono esposti
  endpoint:
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetch-registry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "cards"
    description: "Eazy Bank Cards Application"
    version: "1.0.0"
