server:
  port: 8090
spring:
  application:
    name: "loans" #deve coincidere col nome data al microservice nel config serer
  profiles:
    active: "prod"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: "optional:configserver:http://localhost:8071/"  #indica che le configurazione di accounts microservice sono recuperabili dal config server  all'url specificato(in questo caso "configserver" è una parola standard da non confondere col nome che abbiamo dato al progetto Spring Cloud Server), "optional:" indica che se non riesce a trovare il config server non lancia un eccezione ma continua comunque con le configurazioni locali, si usa se il mancato recupero delle proprietà non inficia completamente il funzinamento del sistema.
  rabbitmq: #stabilisce il collegamento con RabbitMQ, queste sono le proprietà di default e springboot sarebbe capace di stabilire il collegamento anche senza menzionarle, ma in caso porte o credenziali differenti questa è la procedura da seguire.
    host: "localhost"
    port: 5672
    stream:
      username: "guest"
      password: "guest"

management: #abilita la gestione delle APIs di Actuator
  endpoints:
    web:
      exposure:
        include: "*" #qui si dovrebbe l'endpoint di Actuaor che si vuole esporre, in questo caso "*" indica che tutti gli endpoint sono esposti
  endpoint:
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true #abilita loans a recuperare il registro dielle istanze in esecuzione
    registerWithEureka: true #abilita loans a registrarsi al server eureka
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/ #dove gira il server eureka

info:
  app:
    name: "loans"
    description: "Eazy Bank Loans Application"
    version: "1.0.0"
