spring:
  application:
    name: eurekaserver
  config:
    import: "optional:configserver:http://localhost:8071/"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health: # abiita la ricezione della condizione di liveness e readness dell'applicazione
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint: # abilita gli endpoint di actuator per reperire le informazioni di liveness e readness dell'applicazione
    health:
      probes:
        enabled: true