server:
  port: 8080
spring:
  application:
    name: "accounts"
  profiles:
    active: "prod" #di default accounts microservice parte col profilo "prod"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: "optional:configserver:http://localhost:8071/"
    #indica che le configurazione di accounts microservice sono recuperabili dal config server  all'url specificato(in questo caso "configserver" è una parola standard da non confondere col nome che abbiamo dato al progetto Spring Cloud Server), "optional:" indica che se non riesce a trovare il config server non lancia un eccezione ma continua comunque con le configurazioni locali, si usa se il mancato recupero delle proprietà non inficia completamente il funzinamento del sistema.